<ion-view view-title="Grabar Audio">
  <ion-content>
    <button class="button button-block button-balanced slidein" ng-click="parado()">Parado</button>
    <button class="button button-block button-balanced slidein" ng-click="acostado()">Acostado</button>
    <button class="button button-block button-balanced slidein" ng-click="izquierda()">Izquierda</button>
    <button class="button button-block button-balanced slidein" ng-click="derecha()">Derecha</button>
    <button class="button button-block button-balanced slidein" ng-click="abajo()">Boca abajo</button>
  </ion-content>
</ion-view>
