<ion-view view-title="Movimiento"> 
  <ion-content>
    <!--<div class="card">
    <center>
     <h2>{{estado}} <br> {{x}} <br> {{y}} <br> {{z}} <br> {{timestamp}}</h2>
    </center>
    </div>-->
    <div class="card">
      <center>
        <img id="imagen" src="img/acostado.png" class="slidein botones">
      </center>
    </div>
    <button class="button button-block button-balanced slidein" ng-click="user()">Cargar sonidos de Usuario</button>
    <button class="button button-block button-balanced slidein" ng-click="default()">Cargar sonidos de Default</button>
     
  </ion-content>
</ion-view>


